@use '../../../sass/index.scss' as *;

.movie{
    position: relative;
    cursor:pointer;
    display: flex;
    flex-direction: column;
    width: 250px;
    max-height: 100%;
    padding: 5px;
    margin: 5px 15px;
    //border-radius: 10px;
    font-family: "Montserrat",sans-serif;

    &:hover &__favorite{
        display: block;
    }

    &__favorite{
        display: none;
        position: absolute;
        top: 20px;
        right: 20px;

        .icon{
            width: 30px;
            height: 30px;
            color: #2196f3;
        }
    }

        &__title{
            font-family: "Montserrat",sans-serif;
            text-transform: uppercase;
            line-height: 1.3em;
            color:#fff;
            font-size: 1.2em;
            font-weight: 200;
            text-align: center;
    
            @include mobile{
                display: none;
            }
        }
    
        &__rate{
            @include flex(center, center);
            color:#2196f3;

            @include media(tablet, mobile){
                display: none;
            }
    
            & .MuiRating-iconFilled{
                color: #2196f3;
            }
            
            & .MuiRating-iconEmpty{
                color: #2196f3;
            }
        }
    
        img{
            transform: scale(0.97);
            transition: all 2s ease-in;
            animation-name:slide;
            animation-duration: 2s;   
            animation-timing-function: ease-in;
        }
    
        &:hover img{
            -webkit-transform: scale(1) rotate(0.01deg);
            transform: scale(1) rotate(0.01deg);
        }
    
        @include tablet{
            width:180px;
        }
    
        @include mobile{
            width:120px;
        }
    
        img{
            max-height: 90%;
            transition: all 0.3s ease-in-out;
        }
}

.movie_mini{
    position: relative;
    cursor:pointer;
    display: flex;
    flex-direction: column;
    width: 230px;
    max-height: 100%;
    padding: 5px;
    //border-radius: 10px;
    font-family: "Montserrat",sans-serif;

    .movie__title{
        font-family: "Montserrat",sans-serif;
        text-transform: uppercase;
        line-height: 1.3em;
        color:#fff;
        font-size: 1em;
        font-weight: 200;
        text-align: center;

        @include mobile{
            display: none;
        }
    }

    .movie__rate{
        @include flex(center, center);
        color:#2196f3;

        & .MuiRating-iconFilled{
            color: #2196f3;
        }
        
        & .MuiRating-iconEmpty{
            color: #2196f3;
        }
    }

    &:hover .movie__favorite{
        display: block;
    }

    .movie__favorite{
        display: none;
        position: absolute;
        top: 20px;
        right: 15px;

        .icon{
            width: 25px;
            height: 25px;
            color: #2196f3;
        }
    }

    img{
        transform: scale(0.97);
        transition: all 2s ease-in;
        animation-name:slide;
        animation-duration: 2s;   
        animation-timing-function: ease-in;
    }

    &:hover img{
        -webkit-transform: scale(1) rotate(0.01deg);
        transform: scale(1) rotate(0.01deg);
    }

    @include tablet{
        width:180px;
    }

    @include mobile{
        width:140px;
    }

    img{
        max-height: 90%;
        transition: all 0.3s ease-in-out;
    }
}
