@use '../../../sass/index.scss' as *;

.movie{
    cursor:pointer;
    display: flex;
    flex-direction: column;
    width: 220px;
    max-height: 100%;
    padding: 5px;
    margin: 5px 15px;
    //border-radius: 10px;
    font-family: "Montserrat",sans-serif;

    @include tablet{
        width:180px;
    }

    @include mobile{
        width:110px;
    }
 
    .movie__title{
        font-family: "Montserrat",sans-serif;
        text-transform: uppercase;
        line-height: 1.3em;
        color:#fff;
        font-size: 1.2em;
        font-weight: 200;
        text-align: center;

        @include mobile{
            display: none;
        }
    }

    img{
        max-height: 50%;
    }

}