@use '../../../sass/index.scss' as *;

.hero{
    @include flex(center, center);
    flex-direction: column;
    width:100%;
    min-height:100vh;
    background-color: $body-bg;

    @include mobile{
        align-items: flex-start;
        justify-content: flex-start;
    }

    .container{
        @include flex(center, center);
        width:100%;
        min-height:100%;

        .section.mb-3{
            width:100%;

            .section__header.mb-2{
                padding:10px;

                h2{
                    font-family: "Roboto",sans-serif;
                    font-weight: 300;
                    color:$main-color;

                    @include mobile{
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }

    h1{
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        text-align: center;
        color:$main-color;
        font-size: 2em;
        font-weight: 900;
        -webkit-text-size-adjust: none;
    }
}