@use '../../../sass/index.scss' as *;

.casts{
    max-width: 100%;
    max-height: 100vh;
    min-height: 0;
    min-width: 100%;

    .section__header{
        padding: 1rem;
    }

    &__item{
        cursor:pointer;
        display: flex;
        flex-direction: column;
        width: 220px;
        max-height: 100%;
        padding: 5px;
        margin: 5px 15px;
        //border-radius: 10px;
        font-family: "Montserrat",sans-serif;
        transition: all 1s ease-out;

        @include tablet{
            width:180px;
        }
    
        @include mobile{
            width:110px;
        }

        img{
            max-height: 50%;
            transition: all 0.3s ease-in-out;
            transform: scale(0.97);
        }

        &:hover img{
            -webkit-transform: scale(1) rotate(0.01deg);
            transform: scale(1) rotate(0.01deg);
        }

        .actor_name{
            font-family: "Montserrat",sans-serif;
            text-transform: uppercase;
            line-height: 1.3em;
            color:#fff;
            font-size: 1.2em;
            font-weight: 200;
            text-align: center;
    
            @include mobile{
                display: none;
            }
        }

        .character_name{
            font-weight: 400;
            font-size: 16px;
            text-align: center;
            line-height: 1.6;
            color: #80868b;
            letter-spacing: 0.4px;
        }
    }
}