@use '../../../sass/index.scss' as *;

.main{
    @include flex(center, center);
    position: relative;
    width:100%;
    min-height:100vh;
    background-color: $body-bg;
    padding-top: 10%;

    @include media(tablet, mobile){
        padding-top: 0;
    }

    &__container{
        position: relative;
        @include flex(center, center);
        flex-direction: column;
        height: auto;
        width:100%;
        background-color: rgb(17, 16, 16);
        border-radius: 5px;

        @include media(tablet, mobile){
            background-color: $body-bg;
        }

        &__grid{
            justify-self: center;
            width: 70%;
            display: grid;
            grid-template-columns:  repeat(4, 1fr);
            justify-content: space-evenly;

            @include tablet{
                grid-template-columns:  repeat(3, 1fr);
            }
            @include mobile{
                grid-template-columns:  repeat(2, 1fr);
            }
        }
    }

    .section__header.mb-2{
        align-self:auto;
        padding:10px;
    }
}
